body {
  font-family: sans-serif;
}

header {
  text-align: center;
}

code {
  background-color: #f5f5f5;
  padding: 4px;
}

.callout {
  display: flex;
  justify-content: left;
  margin: 10px 0;
}

.callout > .content {
  background-color: #f5f5f5;
  padding: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
}